.DS_Store

application/config/database.php
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea

##libraries
bower_components
public/lib
public/upload

##etc
system
*.iml
*.rst
*.txt
contributing.md
